@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sono", Arial, Helvetica, sans-serif;
}

body {
    background-color: #E1E6E9;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.navbar {
    display: flex;
    background-color: #289976;
    height: 60px;
    width: 100%;
    padding: 0 40px;
    justify-content: flex-start;
    font-size: 1em;
    position: fixed;
    border-bottom: 2px solid white;
}

.navbar .logo {
    display: flex;
    align-items: center;
    width: 60px;
    height: 100%;
}

.navbar .logo img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar .titulo {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 15px;
    background-color: #289976;
}

.navbar .titulo h1{
    font-size: 24px;
    font-weight: 400;
}

.titulos {
    color: #289976;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}

.encabezados {
    color: #289976;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

.subtitulos {
    color: #289976;
    font-weight: bold;
    font-size: 14px;
}

.campo-texto {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.campo-texto input,
.campo-texto select{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #289976;
    outline: none;
    font-size: 14px;
    color: grey;
    padding: 0 10px;
    font-size: 16px;
}

.campo-texto textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #289976;
    outline: none;
    font-size: 14px;
    color: grey;
    padding: 0 10px;
    font-size: 16px;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.container .izquierda,
.container .derecha {
    display: flex;
    flex-direction: column;
    background-color: #289976;
    width: 30%;
    margin-top: 60px;
}


.container .izquierda .detalles-usuario {
    display: flex;
    align-items: center;
    padding: 30px 20px;
    width: 100%;
    gap: 15px;
}

.container .izquierda .detalles-usuario span {
    color: white;
    font-size: 20px;
}

.container .izquierda .categoria {
    display: inline-flex;
    background-color: #289976;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.container .izquierda .categoria:hover {
    background-color: #50C7A2;
}

.container .izquierda .categoria a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    text-align: start;
    gap: 15px;
    padding-left: 20px;
}

.container .izquierda .categoria span{
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#logo-usuario{
    font-size: 48px;
}

#logo-perfil, #logo-settings, #logo-home {
    font-size: 24px;
}

.container .derecha {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
    height: 100%;
    background-color: white;
    padding: 20px;
    gap: 20px;
}

.campos{
    display: inline-flex;
    width: 100%;
    min-height: max-content;
    gap: 20px;
}

.med {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: max-content;
    gap: 15px;
}

.med-row {
    width: 100%;
    min-height: max-content;
    display: flex;
    gap: 15px;
}

.campo-imagen {
    display: flex;
    min-width: 250px;
    min-height: 250px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.img-circular{
    width: 150px;
    height: 150px;
}

.img-circular img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.btn-editar-imagen {
    background-color: #289976;
    color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    height: 25px;
    gap: 10px;
}

.btn-editar-imagen span{
    font-size: 16px;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.btn-container .action-btn-default {
    background-color: #289976;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

.btn-container .action-btn-default:hover, .btn-editar-imagen:hover {
    background-color: #50C7A2;
    color: white;
}       
e
.btn-container .action-btn-default:focus {
    background-color: #50C7A2;
    color: white;
}

.btn-container .action-btn-default:active {
    background-color: white;
    color: #289976;
    border: 1px solid #289976;
}

.btn-container .action-btn-default-del {
    background-color: #EC2039;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

.btn-container .action-btn-default-del:hover {
    background-color: #f5354b;
}

e .btn-container .action-btn-default-del:focus {
    background-color: #f5354b;
}

.btn-container .action-btn-default-del:active {
    background-color: #d31027;
}

#group{
    display: flex;
    width: 100%;
    gap: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: 1px dashed #289976;
    border-radius: 6px;
    padding: 10px;
}

.input-group label{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    font-size: 16px;
}

.input-group label input{
    height: 16px;
    color: #289976;
}
