@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sono", Arial, Helvetica, sans-serif;
}

body {
    background-color: #E1E6E9;
    width: 100%;
    min-height: 100vh;
}

.navbar {
    display: flex;
    background-color: #289976;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 2vw;
    font-size: 1em;
    position: fixed;
}

#header-derecha {
    display: inline-flex;
    gap: 20px;
}

.navbar .icon {
    display: flex;
    width: 150px;
    height: 100%;
}

.navbar div img{
    height: 100%;
    height: 100%;
}

.navbar .login-signup {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    color: white;
    gap: 20px;
}

.navbar .login-signup a{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: white;
}

.navbar .login-signup a:hover{
    background-color: #50C7A2;
}

.navbar .login-signup span {
    font-size: 2em;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.titulos {
    color: #289976;
    font-weight: bold;
    font-size: 18px;
}

.subtitulos {
    color: #289976;
    font-weight: bold;
    font-size: 14px;
}

.menu-amburguesa ul {
    list-style: none;
}

#check {
    display: none;
}

#menu-logo {
    display: flex;
    width: 60px;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

#menu-logo:hover {
    background-color: #50C7A2;
}

#menu-logo span{
    font-size: 36px;
}

.menu-amburguesa .menu{
    display: none;
    background-color: #289976;
    position: absolute;
    min-width: 200px;
    min-height: 400px;
    height: max-content;    
    padding: 20px 0;
    right: 0;
}

.menu-amburguesa .menu li{
    padding: 10px 20px;
    width: 100%;
}

.menu-amburguesa .menu li a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.menu-amburguesa .menu li:hover {
    background-color: #50C7A2;

}

.menu-amburguesa .menu a:hover{
    background-color: #50C7A2;
}

#check:checked + .menu{
    display: block;
}

