@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sono", Arial, Helvetica, sans-serif;
}

body {
    background-color: #FFF;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.titulos {
    color: #289976;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
}

.encabezados {
    color: #289976;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

.subtitulos {
    color: #289976;
    font-weight: bold;
    font-size: 14px;
}

.campo-texto {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.campo-texto input,
.campo-texto select {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #289976;
    outline: none;
    font-size: 14px;
    color: grey;
    padding: 0 10px;
    font-size: 16px;
}

.campo-texto textarea {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #289976;
    outline: none;
    font-size: 14px;
    color: grey;
    padding: 0 10px;
    font-size: 16px;
}

.container {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.container .derecha {
    display: flex;
    flex-direction: column;
    background-color: #289976;
    width: 90%;
    min-height: 100vh;
    padding-top: 60px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.container .derecha {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background-color: white;
    padding: 100px 20px 0px 20px;
    gap: 20px;
}

.campos {
    display: inline-flex;
    width: 100%;
    min-height: max-content;
    gap: 20px;
}

.med {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: max-content;
    gap: 15px;
}

.med-row {
    width: 100%;
    min-height: max-content;
    display: flex;
    gap: 15px;
}

.campo-imagen {
    display: flex;
    min-width: 250px;
    min-height: 250px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.btn-container .action-btn-default {
    background-color: #289976;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

.btn-container .action-btn-default:hover,
.btn-editar-imagen:hover {
    background-color: #50C7A2;
    color: white;
}

.btn-container .action-btn-default:focus {
    background-color: #50C7A2;
    color: white;
}

.btn-container .action-btn-default:active {
    background-color: white;
    color: #289976;
    border: 1px solid #289976;
}

.btn-container .action-btn-default-del {
    background-color: #EC2039;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

.btn-container .action-btn-default-del:hover {
    background-color: #f5354b;
}

.btn-container .action-btn-default-del:focus {
    background-color: #f5354b;
}

.btn-container .action-btn-default-del:active {
    background-color: #d31027;
}

#group {
    display: flex;
    width: 100%;
    gap: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border: 1px dashed #289976;
    border-radius: 6px;
    padding: 10px;
}

.input-group label {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    font-size: 16px;
}

.input-group label input {
    height: 16px;
    color: #289976;
}

.short-list-inmuebles {
    outline: none;
    border: none;
    cursor: pointer;
}

.item-alquiler {
    padding: 10px;
    display: flex;
    width: 100%;
    height: 20vh;
    min-height: 100px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-bottom: 3px solid #289976;
    gap: 15px;
}

.item-alquiler .imagen {
    background-color: gray;
    width: 30%;
    height: 100%;
}

.item-alquiler .imagen img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-alquiler .datos-generales {
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.item-alquiler .datos-generales h2 {
    color: #606060;
    font-size: 20px;
    font-weight: 500;
}

.item-alquiler .datos-generales .ubicacion {
    display: inline-flex;
    gap: 5px;
}

.item-alquiler .datos-generales .ubicacion span {
    color: #616161;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.item-alquiler .datos-generales .ubicacion .material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#btn-add-flotante {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    position: absolute;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    padding: 20px;
    background-color: #289976;
    outline: none;
    border: none;
    cursor: pointer;
}

#btn-add-flotante span {
    font-size: 48px;
    color: white;
}