.msg-error {
    display: none;
    width: 100%;
    height: max-content;
    min-height: 40px;
    margin: 0.2rem 0;
    border: 1px solid rgb(145, 6, 6);
    background-color: rgb(254, 214, 214);
    color: rgb(145, 6, 6);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: .9em;
}

.msg-warning {
    display: none;
    width: 100%;
    height: max-content;
    min-height: 40px;
    margin: 0.2rem 0;
    padding: 0.5rem;
    border: 1px solid rgb(254, 179, 55);
    background-color: rgb(245, 240, 167);
    color: rgb(145, 108, 6);
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: .9em;
}

.show {
    display: block;
}

.showSuccess{
    display: block;
    border: 1px solid rgb(95, 254, 55);
    background-color: rgb(180, 245, 167);
    color: rgb(18, 145, 6);
}

.campo-texto.validado input:invalid {
    border: 2px solid rgb(145, 6, 6);
    outline-color: rgb(145, 6, 6);
}